<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h1 id="heading"><strong>GCE PLACEMENT</strong></h1>
    <div id="form">
        <div id="buttons">
            <button>staff</button>
            <button>student</button>
        </div>
        <label id="email">email</label>
        <input type="email"  name="email" required>
        <br>
        <label id="pass">password</label>
        <input type="password" name="pass" required>
        <br>
        <button>submit</button>
    </div>
</body>
</html>